<DacheCache>
  <Entry ID="5D4260EE097D9D58B359037305936409" Cacheable="true">SELECT     [Extent1].[CustomerID] AS [CustomerID],     [Extent1].[CompanyName] AS [CompanyName],     [Extent1].[ContactName] AS [ContactName],     [Extent1].[ContactTitle] AS [ContactTitle],     [Extent1].[Address] AS [Address],     [Extent1].[City] AS [City],     [Extent1].[Region] AS [Region],     [Extent1].[PostalCode] AS [PostalCode],     [Extent1].[Country] AS [Country],     [Extent1].[Phone] AS [Phone],     [Extent1].[Fax] AS [Fax]    FROM [dbo].[Customers] AS [Extent1]_</Entry>
  <Entry ID="4BECEF1F07B1A00F98FB5F214C8421DC" Cacheable="false">SELECT     [Extent1].[ProductID] AS [ProductID],     [Extent1].[ProductName] AS [ProductName],     [Extent1].[SupplierID] AS [SupplierID],     [Extent1].[CategoryID] AS [CategoryID],     [Extent1].[QuantityPerUnit] AS [QuantityPerUnit],     [Extent1].[UnitPrice] AS [UnitPrice],     [Extent1].[UnitsInStock] AS [UnitsInStock],     [Extent1].[UnitsOnOrder] AS [UnitsOnOrder],     [Extent1].[ReorderLevel] AS [ReorderLevel],     [Extent1].[Discontinued] AS [Discontinued],     [Extent1].[DiscontinuedDate] AS [DiscontinuedDate]    FROM [dbo].[Products] AS [Extent1]_</Entry>
  <Entry ID="FD056842A32CB3D3DD166EF4A2DC1EEC" Cacheable="false">SELECT     [Extent1].[CategoryID] AS [CategoryID],     [Extent1].[CategoryName] AS [CategoryName],     [Extent1].[Description] AS [Description],     [Extent1].[Picture] AS [Picture]    FROM [dbo].[Categories] AS [Extent1]    WHERE [Extent1].[CategoryID] = @EntityKeyValue1_EntityKeyValue1=1</Entry>
</DacheCache>