<DacheCache>
  <Entry ID="933470871C8C9F76A557B93C42C493FC" Cacheable="false">SELECT     [Extent1].[CustomerID] AS [CustomerID],     [Extent1].[CompanyName] AS [CompanyName],     [Extent1].[ContactName] AS [ContactName],     [Extent1].[ContactTitle] AS [ContactTitle]    FROM [dbo].[Customers] AS [Extent1]</Entry>
  <Entry ID="C0A70276378D51C0BCEDC8A60ABE307E" Cacheable="false">SELECT     [Extent1].[CustomerID] AS [CustomerID],     [Extent1].[CompanyName] AS [CompanyName],     [Extent1].[ContactName] AS [ContactName],     [Extent1].[ContactTitle] AS [ContactTitle],     [Extent1].[Address] AS [Address],     [Extent1].[City] AS [City],     [Extent1].[Region] AS [Region],     [Extent1].[PostalCode] AS [PostalCode],     [Extent1].[Country] AS [Country],     [Extent1].[Phone] AS [Phone],     [Extent1].[Fax] AS [Fax]    FROM [dbo].[Customers] AS [Extent1]</Entry>
</DacheCache>