<DacheCache>
  <Entry ID="9F5C0A8E33786CF2677FFEDF18CA95A2" Cacheable="false">SELECT     [Extent1].[ProductID] AS [ProductID],     [Extent1].[ProductName] AS [ProductName],     [Extent1].[SupplierID] AS [SupplierID],     [Extent1].[CategoryID] AS [CategoryID],     [Extent1].[QuantityPerUnit] AS [QuantityPerUnit],     [Extent1].[UnitPrice] AS [UnitPrice],     [Extent1].[UnitsInStock] AS [UnitsInStock],     [Extent1].[UnitsOnOrder] AS [UnitsOnOrder],     [Extent1].[ReorderLevel] AS [ReorderLevel],     [Extent1].[Discontinued] AS [Discontinued],     [Extent1].[DiscontinuedDate] AS [DiscontinuedDate]    FROM [dbo].[Products] AS [Extent1]</Entry>
  <Entry ID="4FE89FE2319A448ED2ACB912CBBAB4E3" Cacheable="false">SELECT     [Extent1].[CategoryID] AS [CategoryID],     [Extent1].[CategoryName] AS [CategoryName],     [Extent1].[Description] AS [Description],     [Extent1].[Picture] AS [Picture]    FROM [dbo].[Categories] AS [Extent1]    WHERE [Extent1].[CategoryID] = @EntityKeyValue1</Entry>
</DacheCache>